NODE_ENV=
PORT=

# Database
MONGO_URI=
MONGO_URI_CLOUD=

# PRODUCT METADATA
APP_NAME=
FRONTEND_URL=

# JWT
JWT_SECRET=

# JWT EXPIRY
REFRESH_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN_DAY=
ACCESS_TOKEN_EXPIRES_IN=
ACCESS_TOKEN_EXPIRES_IN_DAY=

# YARNGPT
YARNGPT_BASE_URL=
YARNGPT_API_KEY=

# CLOUDINARY
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_URL=

SUBSCRIPTION_AMOUNT=

# INTERSWITCH
INTERSWITCH_MERCHANT_CODE=
INTERSWITCH_PAY_ITEM_ID=
INTERSWITCH_CLIENT_ID=
INTERSWITCH_CLIENT_SECRET=
INTERSWITCH_BASE_URL=